* {
  margin: 0;
  box-sizing: content-box;
  font-family: Trebuchet MS;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar {
  background: 
    /* On "top" */ repeating-linear-gradient(
      145deg,
      transparent,
      transparent 2px,
      #434242 3px,
      #252424 3px
    ),
    /* on "bottom" */ linear-gradient(to bottom, #424141, #0e0c0c);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 4%;
  height: 8%;
  padding: 0.25em 13em 2.5em 13em;
}

.navbar #main {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.inputbox {
  font-size: 10px;
  border: 1px solid #7e9db9;
  padding: 1px;
  background-color: #787878;
  color: #d8dde1;
  height: 14px;
}

#password {
  width: 5rem;
}

#email {
  width: 8rem;
}

::placeholder {
  color: white;
  padding-left: 1px;
}

.navbar-rightHalf {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.navbar-rightHalf .login {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.navbar-rightHalf .login .oauth {
  height: 1.2rem;
  width: 1.2rem;
  cursor: pointer;
}

#register {
  color: white;
  cursor: pointer;
  font-size: 0.7rem;
  text-align: end;
}
.menu {
  text-align: end;
}

.menu-item {
  color: white;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: rgb(231, 88, 16);
  font-size: 0.8rem;
  text-decoration-thickness: 0.3em;
  margin-left: 2px;
  /* border-bottom: 3px solid rgb(231, 88, 16); */
  padding-bottom: 0.6rem;
  cursor: pointer;
}

.menu-item:hover {
  text-decoration-color: grey;
  /* border-bottom: 3px solid grey; */
}

#submit {
  color: gray;
  text-decoration-color: grey;
}

.dropdown {
  position: relative;
  /* display: inline-block; */
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 1.6rem;
  right: 0.2rem;
  background-color: black;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0.6rem;
  border: 1px solid grey;
}

.dropdown-content li {
  width: 10.2rem;
  display: block;
  padding: 0.2rem;
  list-style-type: circle;
  text-align: left;
}

.dropdown-content li::before {
  content: "\2022"; /* Unicode character for a bullet point */
  color: rgb(231, 88, 16);
  margin-right: 5px; /* Adjust the spacing between the marker and text */
}

.dropdown-content li a {
  color: white;
  text-decoration: none;
  font-size: small;
}
.dropdown-content li a:hover {
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.maincontent {
  background-image: linear-gradient(
    145deg,
    #e0e6df 16.67%,
    white 16.67%,
    white 50%,
    #e0e6df 50%,
    #e0e6df 66.67%,
    white 66.67%,
    white 100%
  );
  background-size: 5.23px 3.66px;
  flex: 1;
  height: 54%;
}

.footer {
  height: 38%;
  background-image: linear-gradient(to bottom, rgb(35, 34, 34), 10%, black);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 0.7rem;
  position: sticky;
  padding-top: 1rem;
}

.footer span:hover {
  text-decoration: underline;
}
.footer-courseLinks {
  color: #bfbfbf;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.footer .footer-courseLinks .courseLink-1,
.courseLink-2,
.courseLink-3,
.courseLink-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  margin: 0px 3rem;
}

.heading {
  font-weight: bold;
  color: white;
}

.footer span {
  margin-top: 0.1rem;
}

.footer .courseLinkSubSection {
  margin-top: 1.2rem;
}

.seprationline {
  background-color: white;
  width: 61.875rem;
  height: 1px;
  margin-left: 8rem;
}

.footer-navLinks {
  color: #d8d8d8;
  display: flex;
  font-weight: bold;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  font-size: 0.7rem;
  cursor: pointer;
}

.footer-navLinks .footer-navLinksFirst,
.footer-navLinksSecond {
  display: flex;
  align-items: center;
}
.footer-copyright {
  font-size: 0.9rem;
  color: white;
}

.verticalSeprationLine {
  font-size: 1.1rem;
  margin: 0px 2px 0px 2px;
}
